@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: rgba(68, 61, 60, 1);
  } */
  html, body {
    @apply text-secondary;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
  }
}


